* {
  box-sizing: border-box;
}
body,
html {
  min-height: 100vh;
  background: linear-gradient(to bottom, #ff7f00, #ffb900);
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: #fff2e4;
  padding-top: 80px;
}
@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding-top: 0;
  }
}
.container--title--forecast {
  padding-top: 0;
}
.header {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__title {
  font-size: 3rem;
  margin: 0 20px 30px 20px;
}
@media (max-width: 480px) {
  .header__title {
    max-width: 320px;
    font-size: 3.5rem;
    margin: 10px;
  }
}
.header__title--forecast {
  max-width: 400px;
  font-size: 2rem;
  margin: 10px auto;
}
@media (max-width: 480px) {
  .header__title--forecast {
    margin: 0;
    padding: 10px;
    text-align: left;
    max-width: 480px;
    width: 100%;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
}
.search {
  max-width: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .search {
    max-width: 400px;
    margin-top: 20px;
  }
}
.search__input {
  max-width: 300px;
  width: 100%;
  height: 40px;
  color: #8c6211;
  font-size: 1.2rem;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  border: none;
  background: #fff2e4;
}
@media (max-width: 480px) {
  .search__input {
    font-size: 1rem;
  }
}
.search__erro--hide {
  display: none;
}
.search__erro {
  color: #ffd1eb;
  padding: 5px;
  font-size: 0.8rem;
  background: #e82c34;
  margin: 5px auto 5px 75px;
}
@media (max-width: 480px) {
  .search__erro {
    margin: 5px 0;
    width: 100%;
    padding-left: 10px;
  }
}
.search__button {
  background: url("/assets/icon/search.svg") center #fff2e4 no-repeat;
  width: 50px;
  height: 40px;
  border: none;
}
.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(#ff7f00);
}
.section {
  max-width: 400px;
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid #ffb900;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
@media (max-width: 480px) {
  .section {
    padding: 10px 0 10px 40px;
  }
}
.section__title {
  margin: 5px 0;
  max-width: 320px;
  width: 100%;
  font-size: 2rem;
}
@media (max-width: 480px) {
  .section__title {
    font-size: 2.5rem;
    padding: 5px 0;
  }
}
.section__temp {
  max-width: 320px;
  width: 100%;
  display: flex;
}
.section__temp__title {
  max-width: 160px;
  width: 100%;
}
@media (max-width: 480px) {
  .section__temp__title:nth-child(2) {
    display: none;
  }
}
.section__temp__min-max {
  max-width: 80px;
  width: 100%;
  padding: 10px 5px 10px 0;
  color: #8c6211;
  font-size: 0.6rem;
}
@media (max-width: 480px) {
  .section__temp__min-max {
    font-size: 0.8rem;
  }
}
.section__content {
  max-width: 320px;
  width: 100%;
  columns: 150px 2;
  column-gap: 0;
}
@media (max-width: 480px) {
  .section__content {
    columns: 350px 1;
  }
}
.section__content__details {
  color: #302b20;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 10px 0;
  height: 40px;
}
@media (max-width: 480px) {
  .section__content__details {
    font-size: 1rem;
  }
}
.section__content__details__weather {
  padding: 10px 5px 10px 0;
}
.section__content__details__where {
  padding: 10px 0 10px 5px;
}
.forecast {
  max-width: 350px;
  width: 100%;
  margin-bottom: 10px;
  background: #fff2e4;
  color: #505050;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .forecast {
    max-width: 100%;
  }
}
.forecast--hide {
  display: none;
}
.forecast__header {
  display: flex;
  max-width: 350px;
  width: 100%;
  padding-left: 30px;
  margin: 5px 0 auto 0;
}
@media (max-width: 480px) {
  .forecast__header {
    max-width: 400px;
  }
}
.forecast__header__city {
  font-size: 0.8rem;
  margin: 0;
  padding: 10px 0;
}
@media (max-width: 480px) {
  .forecast__header__city {
    font-size: 1rem;
  }
}
.forecast__header__btn {
  border: none;
  width: 30px;
  margin: 3px 3px 3px auto;
  background: url("/assets/icon/close.svg") center no-repeat;
  cursor: pointer;
}
.forecast-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 330px;
  width: 100%;
  border-bottom: 1px solid #ff7f00;
  padding: 0 0 10px 20px;
}
@media (max-width: 480px) {
  .main {
    max-width: 400px;
  }
}
.temperature {
  margin: 5px 0;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: baseline;
}
@media (max-width: 480px) {
  .temperature {
    max-width: 100%;
    font-size: 2.5rem;
  }
}
.temperature__min {
  max-width: 80px;
  width: 100%;
}
@media (max-width: 480px) {
  .temperature__min {
    max-width: 100px;
  }
}
.temperature__condition {
  max-width: 200px;
  width: 100%;
}
@media (max-width: 480px) {
  .temperature__condition {
    max-width: 250px;
  }
}
.info {
  display: flex;
  max-width: 300px;
  width: 100%;
  padding: 5px 0;
}
@media (max-width: 480px) {
  .info {
    max-width: 100%;
  }
}
.info__condition {
  max-width: 100px;
  width: 100%;
  display: flex;
}
@media (max-width: 480px) {
  .info__condition {
    max-width: 150px;
    display: flex;
    align-items: center;
  }
}
.info__condition__min-max {
  color: #505050;
  font-size: 0.7rem;
  font-weight: 700;
  max-width: 45px;
  width: 100%;
  padding-right: 2px;
}
@media (max-width: 480px) {
  .info__condition__min-max {
    font-size: 1rem;
    max-width: 60px;
  }
}
.info__condition__name {
  color: #a9a4a4;
  font-size: 0.6rem;
}
@media (max-width: 480px) {
  .info__condition__name {
    font-size: 0.8rem;
  }
}
.info__condition__number {
  color: #505050;
  font-weight: 700;
  font-size: 0.7rem;
  padding-left: 5px;
}
@media (max-width: 480px) {
  .info__condition__number {
    font-size: 1rem;
    max-width: 100px;
  }
}
.forecast-footer {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
  padding-top: 5px;
  margin: 5px 0;
}
@media (max-width: 480px) {
  .footer {
    max-width: 380px;
  }
}
.weather {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.weather__day {
  font-size: 0.8rem;
  color: #505050;
  font-weight: 700;
  max-width: 50px;
  width: 100%;
}
@media (max-width: 480px) {
  .weather__day {
    font-size: 1rem;
  }
}
.weather__condition {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.weather__condition__min-max {
  color: #ff7f00;
  font-size: 0.7rem;
  font-weight: 700;
  padding-right: 3px;
  max-width: 50px;
  width: 100%;
}
@media (max-width: 480px) {
  .weather__condition__min-max {
    font-size: 1rem;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #ff7f00;
}
.heart {
  font-size: 12px;
  width: 100%;
  text-align: center;
  color: #fff;
}
@media (max-width: 560px) {
  .heart {
    height: 10%;
  }
}
.heart__css {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  animation: pulse 0.5s infinite alternate ease-in;
  background-color: #ffb900;
}
.heart__css:before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  background-color: #ffb900;
}
.heart__css:after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  background-color: #ffb900;
}
.heart__author {
  text-decoration: none;
  color: #505050;
}
@-moz-keyframes pulse {
  from {
    transform: rotate(-135deg) scale(1);
  }
  to {
    transform: rotate(-135deg) scale(1.2);
  }
}
@-webkit-keyframes pulse {
  from {
    transform: rotate(-135deg) scale(1);
  }
  to {
    transform: rotate(-135deg) scale(1.2);
  }
}
@-o-keyframes pulse {
  from {
    transform: rotate(-135deg) scale(1);
  }
  to {
    transform: rotate(-135deg) scale(1.2);
  }
}
@keyframes pulse {
  from {
    transform: rotate(-135deg) scale(1);
  }
  to {
    transform: rotate(-135deg) scale(1.2);
  }
}
